.main__element{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.repayment__container{
    display: flex;
    background-color: #fff;
    padding: 1.8rem 1.5rem;
    border-radius: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.repayment__calculator{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.repayment__head{
    display: flex;
    align-items: center;
    gap: 5rem;
}
.repayment__title{
    font-size: 1.1rem;
    font-weight: 600;
}
.repayment__resetbtn{
    border: none;
    background-color: transparent;
    font-family: inherit;
    cursor: pointer;
    border-bottom: 1px solid;
}
.repayment__form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
label:not(#label__repayment):not(#label__interest){
    font-size: 0.88rem;
}