.repayment__calculator {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
  padding: 1.8rem;
  width: 52%;
}
.repayment__head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.repayment__title {
  font-size: 1.15rem;
  font-weight: 700;
  color: #263c49;
}
.repayment__termYear,
.repayment__termRate {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  width: 50%;
}
#termYear,
#termRate {
  width: 50%;
}
.repayment__termYear p,
.repayment__termRate p {
  justify-content: space-between;
}

.repayment__resetbtn {
  border: none;
  background-color: transparent;
  color: #40637a;
  font-family: inherit;
  cursor: pointer;
  border-bottom: 1px solid;
  font-weight: 500;
}
.repayment__form {
  display: flex;
  flex-direction: column;
  gap: 1.4rem;
}
label:not(#label__repayment):not(#label__interest) {
  font-size: 0.8rem;
  color: #527581;
  font-weight: 500;
}
legend {
  font-size: 0.8rem;
  color: #527581;
  font-weight: 500;
}
.repayment__amount {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.repayment__term_rate {
  display: flex;
  gap: 1.5rem;
}
.repayment__type {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
}
.mortgage__repayment {
  display: flex;
  gap: 0.8rem;
  border: 1px solid #658292;
  color: #374c59;
  padding: 0.5rem 0.8rem;
  border-radius: 4px;
  font-weight: 600;
  font-size: 0.95rem;
  cursor: pointer;
}
.mortgage__type {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
input[type="number"] {
  padding: 0.4rem 0.8rem;
  font-family: inherit;
  font-weight: 600;
  font-size: 1rem;
  color: #263f46;
  outline: none;
  border: none;
  letter-spacing: 0.024rem;
  cursor: pointer;
}
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #fff;
  border: 2px solid #515150;
  width: 15px;
  height: 15px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  cursor: pointer;
  align-self: center;
}

input[type="radio"]:checked::before {
  content: "";
  display: block;
  width: 9.2px;
  height: 9.2px;
  background-color: #d7e75f;
  border-radius: 50%;
  position: absolute;
  top: 1.3px;
  left: 1.2px;
}
p:not(#btn__text) {
  display: flex;
  border: 1px solid #658292;
  border-radius: 4px;
  align-items: center;
  overflow: hidden;
}
span {
  display: block;
  padding: 0.6rem 0.8rem;
  font-size: 0.9rem;
  font-weight: 600;
  background-color: #e3f4fc;
  color: #617783;
}
#error__message {
  font-size: 0.7rem;
  color: #cd3a32;
  background-color: transparent;
  padding: 0;
  font-weight: 600;
}
button[type="submit"] {
  display: flex;
  padding: 0.6rem 1rem;
  align-items: center;
  font-size: 0.9rem;
  justify-content: center;
  gap: 0.6rem;
  font-family: inherit;
  font-weight: 700;
  border: none;
  border-radius: 25px;
  width: 65%;
  background-color: #d9db30;
  color: #1e303a;
  cursor: pointer;
  margin-top: 1rem;
}
button[type="submit"]:hover {
  background-color: #e7e97a;
}
@media screen and (max-width: 756px) {
  .repayment__calculator {
    width: 100%;
  }
  .repayment__head {
    flex-direction: column;
    align-items: flex-start;
    gap: 0.6rem;
  }
  .repayment__term_rate {
    flex-direction: column;
  }
  .repayment__termYear,
  .repayment__termRate {
    width: 100%;
  }
  button[type="submit"] {
    width: 90%;
    font-size: 1rem;
  }
}
