.main__element {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.repayment__container {
  display: flex;
  border-radius: 15px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  background-color: #fff;
  width: 55%;
}

@media screen and (max-width: 756px) {
  .repayment__container{
    flex-direction: column;
    width: 100%;
  }
  
}